
.logo-img {

  height: 125px;
  margin-left: 150px;
  object-fit: cover;
}

.nav {
  font-family:Arial;
  background-color: #b2071d;
  color: white;
  display: flex;
  justify-content: left;
  column-gap: 25px;
  align-items: center;

}

.nav-element {
  color: white;
  font-weight: bold;
  font-size: 30px;;
  letter-spacing: 2px;

}
.nav-element:hover {
  text-decoration:underline;
}
.nav a{
  text-decoration: none;
  padding: 20px 5px;
}

