

.logo-img {

  height: 125px;
  object-fit: contain;
  margin-left: 200px;
}

.nav {
  background-color: #C4302B;
  color: white;
  display: flex;
  justify-content: left;
  column-gap: 25px;
  align-items: center;
  margin: 0;
  padding: 0;
  
}

.nav-element {
  color: white;
  font-weight: bold;
  font-size: 25px;;
}

.nav a{
  color: white;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 20px 5px;
  display: inline-block;
}

