.blink {
    animation: blink 3 steps(1, end);

}
.blink {
    animation: blink 1s infinite;
}
    
@keyframes blink {
    0% {
        opacity: 1;
        transform: scale(2)
    }
    50%{
        opacity: 0;
        transform: scale(0);
    }
    100% {
    color:#39FF14;
    opacity : 0;
    transform : scale(1);
    }
}